@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu SA Beginner', cursive;
    color: #333;
    outline: none;
}

html {
    font-size: 62.5%;
}


body {
    display: flex;

}


.intro {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 100vh;
    width: 30%;    
  

    background-image: url("./anne-nygard-8uKeuw_6Lew-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Copyright */
.copyright {
    margin-left: 2rem;

}
.copyright u {
    color: #fff;
}

.copyright p {
    color: inherit;
}

h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

form > h2 + span {
    display: inline-block;
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

form > p {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 2rem;
    width: 80%;
}

.logo span {
    font-size: 6.6rem;
    color: #fff;
    
}

/* FORM */

.cta-text {
    font-size: 2.2rem;
    font-weight: bold;

    margin-top: 4rem;
    margin-left: 2rem;
}

form {
    padding: 7.5rem;
    height: 100vh;
    

    background-color: #ACE6FC;
    flex: 1;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    font-size: 2.8rem;
    padding: 2.4rem;

}

.form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.form > div > label {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
}

.form > div > input {
    width:40rem;
    height: auto;

    font-size: 2.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 0.9rem;
    border: 1px solid #999;
}


.form > div > input:hover {
    border: 1px solid black;
}

/* Input Shadow */
.form > div > input {
    box-shadow: inset 0 0 5px #888;
    -webkit-appearance: none;
    appearance: none;

    
}


/* Required fields labels */
.required {
    position: relative;
}


.required:after  {
    content: "Required";
    position: absolute;

    

    padding: 0.2rem 0.8rem;
    font-size: 1.6rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    right: 26%;
    margin-left: auto;
    margin-right: auto;
    /* transform: translate(-15rem, -10%); */
}



/* CTA Button */
button {
    border: none;
    border-radius: 11px;
    padding: 1rem 2rem;
    width: 50%;
    height: auto;

    cursor: pointer;
    font-size: 3.2rem;
    background-color: #59CCFA;
    color: #112A46;
}

button:hover {
    background-color: #59ccfaa4;
}

button:active {
    border: 1px solid white;
}

.cta-btn p {
    font-size: 1.6rem;
}

/* Passwords */
.pass-text {
    font-size: 1.6rem;
    height: 2em;
}


/* Media Queries */

@media screen and (max-width: 76rem) {
    html {
        font-size: 55%;
    }
  body {
    flex-direction: column;
  }

  .intro {
    height: 150px;
    width: 100%;
    background-image: none;
    background-color: black;
  }

  .copyright {
    display: none;
  }

  form {
    background-color: white;
    
  }

  .form {
    grid-template-columns: 1fr;
    justify-items:center;
    
  }

  .form > div > input {
    width: 75rem;
  }
  .required::after {
    display: none;
  }

  button {
    width: 25rem;
    margin-top: 2rem;    
  }
  
}


@media screen and (max-width: 100rem) {
    button {
        width: 25rem;
    }    
}


@media screen and (max-width: 60rem) {
    html {
        font-size: 52%;
    }    

    .form > div > input {
        width: 50rem;
    }
}